
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root{
    --color-barra-lateral: #ffffff;

    --color-texto: #000000;
    --color-texto-menu: #848484;

    --color-menu-hover: #f0f0f0;
    --color-menu-hover-texto: #000000;

    --color-boton: #000000;
    --color-boton-texto: #ffffff;

    --color-line: #d3d3d3;

    --color-switch-base: #c4c4c4;
    --color-switch-circle: #e9e9e9;

    --color-scroll: #c4c4c4;
    --color-scroll-hover: #b6b6b6;
}

.dark_mode{
    --color-barra-lateral: #272727;

    --color-texto: #ffffff;
    --color-texto-menu: #848484;

    --color-menu-hover: #000000;
    --color-menu-hover-texto: #f0f0f0;

    --color-boton: #ffffff;
    --color-boton-texto: #000000;

    --color-line: #5d5d5d;

    --color-switch-base: #12db2c;
    --color-switch-circle: #ffffff;

    --color-scroll: #606060;
    --color-scroll-hover: #5e5e5e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    height: 100vh;
    width: 100%;
    background-color: darkcyan;
}

h1{
    text-align: center;
    font-size: 3.8rem;
}

/*-----Menu-----*/
.menu{
    position: fixed;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 1.5rem;
    top: 1.5rem;
}

/*-----Barra lateral------*/
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: 100%;
    overflow: hidden;
    padding: 2rem 1.5rem;
    background-color: var(--color-barra-lateral);
    transition: width .5s ease, background-color .3s ease;
}

.mini_sidebar{
    width: 8rem;
}

.sidebar span{
    width: 10rem;
    white-space: nowrap; /*Para que no se corte el texto*/
    font-size: 1.8rem;
    text-align: left;
    opacity: 1;
    transition: opacity .5s ease, width .5s ease;
}

.sidebar span.hide{
    opacity: 0;
    width: 0;
}

/*----------Nombre de la pagina---------*/
.sidebar .sidebar_title{
    width: 100%;
    height: 4.5rem;
    color: var(--color-texto);
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.sidebar .sidebar_title ion-icon{
    min-width: 5rem;
    font-size: 4rem;
    cursor: pointer;
}

.sidebar .sidebar_title span{
    margin-left: .5rem;
    font-size: 2.5rem;
}

.sidebar button{
    width: 100%;
    height: 4.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}

.sidebar button ion-icon{
    min-width: 5rem;
    font-size: 2.5rem;
}

/*----------Menu navegacion---------*/

.sidebar .navbar{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .navbar::-webkit-scrollbar{
    width: .5rem;
}

.sidebar .navbar::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: .5rem;
}

.sidebar .navbar::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll-hover);
}

.sidebar .navbar li{
    list-style: none;
    display: flex;
    margin-bottom: .5rem;
}

.sidebar .navbar a{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 1rem;
    color: var(--color-texto-menu);
}

.sidebar .navbar a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.sidebar .navbar a ion-icon{
    min-width: 5rem;
    font-size: 2rem;
}

/*----------Linea---------*/
.sidebar .line{
    width: 100%;
    height: .1rem;
    margin-top: 1.5rem;
    background-color: var(--color-line);
}

/*----------Dark mode---------*/
.sidebar .darkmode{
    width: 100%;
    margin-bottom: 8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between
}

.sidebar .darkmode .info{
    width: 15rem;
    height: 4.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}

.sidebar .darkmode .info ion-icon{
    width: 5rem;
    font-size: 2rem;
}

/*----------Switch---------*/
.sidebar .darkmode .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    height: 4.5rem;
    cursor: pointer;
}

.sidebar .darkmode .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 2rem;
    background-color: var(--color-switch-base);
    border-radius: 5rem;
}

.sidebar .darkmode .circle{
    position: absolute;
    width: 1.8rem;
    height: 90%;
    background-color: var(--color-switch-circle);
    border-radius: 50%;
    left: .2rem;
    transition: left .5s ease;
}

.sidebar .darkmode .circle.active{
    left: 1.5rem;
}

/*----------Usuario---------*/
.sidebar .user{
    width: 100%;
    display: flex;
}

.sidebar .user img{
    width: 5rem;
    min-width: 5rem;
    border-radius: 1rem;
}

.sidebar .user .info_user{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}

.sidebar .user .name_email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.sidebar .user .name{
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar .user .email{
    font-size: 1.3rem;
}

.sidebar .user .icon{
    font-size: 2rem;
}






/*-------Media querys-------*/
@media (max-height: 660px){
    .sidebar .sidebar_title{
        margin-bottom: .5rem;
    }
    .sidebar .darkmode{
        margin-bottom: .3rem;
    }
}

@media (max-width: 600px){
    .sidebar{
        position: absolute;
        left: -25rem;
    }
    .menu{
        display: flex;
    }
}